<div class="payment-methods-container">
  <h1>Your payment methods</h1>
  <p>
    In this section, you manage your payment wallet by registering your cards
    and setting up preferred payment methods for a seamless checkout experience.
  </p>

  <button mat-raised-button color="primary" (click)="addEditCard()">
    <mat-icon>add</mat-icon> Add a card
  </button>

  <div class="card-list">
    <app-payment-card
      *ngFor="let card of cards"
      [card]="card"
      (onDelete)="removeCard(card)"
      (onEdit)="addEditCard(card)"
    ></app-payment-card>
  </div>
</div>
