<h1 class="tittle">Chat Online</h1>
<div class="chat-list">
  <mat-card *ngFor="let message of messages" class="chat-card">
    <div class="chat-content">
      <div class="chat-header">
        <img src="https://randomuser.me/api/portraits/men/61.jpg" alt="avatar" class="avatar" />
        <div>
          <span class="name">{{ message.name }}</span>
          <div class="message-text">{{ message.text }}</div>
        </div>
      </div>
      <div class="chat-meta">
        <span class="date">{{ message.date }}</span>
        <button mat-button color="primary" class="chat-button" routerLink="/chat-message">
          <mat-icon>chat</mat-icon> Chat
        </button>
      </div>
    </div>
  </mat-card>
</div>
