<section>
  <header>
    <h1 class="header-title">Search for caregivers</h1>

    <div class="header-tools-container">
      <div class="header-select-actions">
        <div class="header-select-container">
          <span>Location</span>
          <mat-form-field class="header-select" appearance="outline">
            <mat-select
              hidden
              [(ngModel)]="selectedLocation"
              (selectionChange)="changeSelectedLocation($event)"
            >
              <mat-option value="">All</mat-option>
              <mat-option
                *ngFor="let location of locationOptions"
                [value]="location"
              >
                {{ location }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="header-select-container">
          <span>Rating</span>
          <mat-form-field class="header-select" appearance="outline">
            <mat-select
              hidden
              [(ngModel)]="orderByRating"
              (selectionChange)="changeOrderByRating($event)"
            >
              <mat-option value="relevant">Most relevant</mat-option>
              <mat-option value="popular">Most popular</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-flat-button class="primary-btn" (click)="onReloadList()">
          <mat-icon>refresh</mat-icon>
          <span>Refresh</span>
        </button>
      </div>
    </div>
  </header>

  <div class="search-caregivers-list">
    <app-caregiver-card
      *ngFor="let caregiver of filteredCaregiversList"
      [caregiver]="caregiver"
    ></app-caregiver-card>
  </div>
</section>
