<div class="reservation-card">
  <div class="reservation-img-container">
    <img src="https://randomuser.me/api/portraits/med/men/48.jpg" alt="" />
  </div>
  <div class="reservation-detail">
    <ul class="reservation-detail-list">
      <li class="reservation-detail-item">
        <span class="reservation-detail-item-label">Name:</span>
        <span
          class="reservation-detail-item-value"
          >{{reservation?.['search-caregiver']?.fullName}}</span
        >
      </li>
      <li class="reservation-detail-item">
        <span class="reservation-detail-item-label">Work location:</span>
        <span class="reservation-detail-item-value">{{
          reservation?.location
        }}</span>
      </li>
      <li class="reservation-detail-item">
        <span class="reservation-detail-item-label">Reservation date:</span>
        <span class="reservation-detail-item-value">{{
          reservation?.date
        }}</span>
      </li>
      <li class="reservation-detail-item">
        <span class="reservation-detail-item-label">Total timework:</span>
        <span class="reservation-detail-item-value"
          >From {{ reservation?.startTime }} to {{ reservation?.endTime }}</span
        >
      </li>
      <li class="reservation-detail-item">
        <span class="reservation-detail-item-label">Total fair: </span>
        <span class="reservation-detail-item-value">{{
          reservation?.totalFare
        }}</span>
      </li>
    </ul>
  </div>
</div>
