<section>
  <header class="section-header">
    <h1 class="header-title">
      Detail of {{ serviceSearch?.caregiver?.fullName }}’s caregiver service
    </h1>

    <a class="go-back-btn" routerLink="../">
      <mat-icon>arrow_back</mat-icon>
      <span>Go back</span>
    </a>
  </header>

  <div class="caregiver-section">
    <mat-card class="caregiver-preview-card">
      <mat-card-header>
        <img
          class="caregiver-img"
          [src]="serviceSearch?.caregiver?.profileImg"
          [alt]="serviceSearch?.caregiver?.fullName"
        />
      </mat-card-header>
      <mat-card-content>
        <p class="caregiver-card-name">
          {{ serviceSearch?.caregiver?.fullName }}
        </p>

        <div class="caregiver-card-list">
          <div class="caregiver-card-item">
            <mat-icon>person</mat-icon>
            <span>24 years old</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>place</mat-icon>
            <span
              >{{ serviceSearch?.caregiver?.address }},
              {{ serviceSearch?.caregiver?.district }}</span
            >
          </div>

          <div class="caregiver-card-item">
            <mat-icon>schedule</mat-icon>
            <span>2 years in SafeChild</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>work</mat-icon>
            <span>42 services realized</span>
          </div>
        </div>
      </mat-card-content>
      @if (!canEdit) {
      <mat-card-actions>
        <button mat-flat-button class="btn btn-primary" (click)="openDialog()">
          <mat-icon>book</mat-icon>
          <span>Reservate</span>
        </button>
      </mat-card-actions>
      }
    </mat-card>

    <div style="display: flex; flex-direction: column; gap: 16px; width: 100%">
      <mat-card>
        <mat-card-header style="position: relative">
          <mat-card-title>Biography</mat-card-title>
          <mat-card-subtitle
            >See more about
            {{ serviceSearch?.caregiver?.fullName }}</mat-card-subtitle
          >
          @if (canEdit && !biographyEditMode) {
          <button
            mat-fab
            aria-label="Edit biography"
            (click)="biographyEditMode = true"
            style="position: absolute; top: 10px; right: 16px"
          >
            <mat-icon>edit</mat-icon>
          </button>
          }
        </mat-card-header>
        <mat-card-content>
          @if(!biographyEditMode){
          {{ serviceSearch?.description }}
          } @else {
          <form [formGroup]="biographyForm" (submit)="updateDescription()">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Leave a comment</mat-label>
              <textarea
                matInput
                formControlName="description"
                placeholder="Ex. It makes me feel..."
                rows="6"
              ></textarea>
            </mat-form-field>

            <button
              mat-stroked-button
              class="btn"
              type="submit"
              (click)="cancelEditBiographyMode($event)"
            >
              <mat-icon>close</mat-icon>
              <span>Cancel</span>
            </button>

            <button mat-flat-button class="btn btn-primary">
              <mat-icon>edit</mat-icon>
              <span>Update</span>
            </button>
          </form>
          }
        </mat-card-content>
      </mat-card>

      <div style="display: flex; gap: 16px">
        <mat-card style="flex-grow: 1; width: 100%">
          <mat-card-header style="position: relative">
            <mat-card-title>Schedule</mat-card-title>
            <mat-card-subtitle>See your options</mat-card-subtitle>
            @if (canEdit && !scheduleEditMode) {
            <button
              mat-fab
              aria-label="Edit biography"
              (click)="editSchedule()"
              style="position: absolute; top: 10px; right: 16px"
            >
              <mat-icon>edit</mat-icon>
            </button>
            }
          </mat-card-header>
          <mat-card-content>
            @if(scheduleEditMode){
            <button
              mat-flat-button
              class="btn btn-primary"
              (click)="openAddOrEditScheduleDialog()"
            >
              <mat-icon>add</mat-icon>
              <span>Add</span>
            </button>

            <button
              mat-stroked-button
              class="btn"
              type="submit"
              (click)="cancelEditSchedule()"
            >
              <mat-icon>close</mat-icon>
              <span>Cancel</span>
            </button>

            }

            <table mat-table [dataSource]="serviceSearch?.schedules ?? []">
              <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef>Days</th>
                <td mat-cell *matCellDef="let element">{{ element.day }}</td>
              </ng-container>

              <ng-container matColumnDef="startHour">
                <th mat-header-cell *matHeaderCellDef>Start hour</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.workHours.startTime }}
                </td>
              </ng-container>

              <ng-container matColumnDef="endHour">
                <th mat-header-cell *matHeaderCellDef>End hour</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.workHours.endTime }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="deleteSchedule(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    (click)="openAddOrEditScheduleDialog(element)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedScheduleColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedScheduleColumns"
              ></tr>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card style="flex-grow: 1; width: 100%">
          <mat-card-header>
            <mat-card-title>Places & Fare</mat-card-title>
            <mat-card-subtitle>See more options</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-chip-set>
              @for (places of serviceSearch?.workaround; track $index) {
              <mat-chip>{{ places }}</mat-chip>
              }
            </mat-chip-set>
            <p style="font-weight: 600">Fare per hour:</p>
            <p>S/ {{ (serviceSearch?.farePerHour ?? 0 / 100).toFixed(2) }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
