<div class="reservation-methods-container">
  <h1>Reservations</h1>
  <div class="reservation-card" *ngFor="let reservation of reservations$ | async">
    <div class="reservation-details">
      <p><strong>Caregiver:</strong> {{ reservation.caregiverName }}</p>
      <p><strong>Work location:</strong> {{ reservation.location }}</p>
      <p><strong>Reservation date:</strong> {{ reservation.reservationDate | date }}</p>
      <p><strong>Total timework:</strong> {{ reservation.timeWork }}</p>
      <p><strong>Total fair:</strong> S/ {{ reservation.fare }}</p>
    </div>
    <div class="reservation-actions">

      <p [ngClass]="{'cancelled': reservation.status === 'Cancelled'}">
        {{ reservation.status === 'Pending' ? 'Pending' : 'Cancelled' }}
      </p>


      <div *ngIf="reservation.status === 'Pending'">
        <button mat-flat-button color="primary" (click)="updateReservation(reservation)">Update</button>
        <button mat-flat-button color="warn" (click)="cancelReservation(reservation)">Cancel</button>
      </div>
    </div>
  </div>
</div>
