<section>
  <header class="section-header">
    <h1 class="header-title">Detail of Julio Cesar’s caregiver service</h1>

    <a class="go-back-btn" routerLink="../">
      <mat-icon>arrow_back</mat-icon>
      <span>Go back</span>
    </a>
  </header>

  <div class="caregiver-section">
    <mat-card class="caregiver-preview-card">
      <mat-card-header>
        <img
          class="caregiver-img"
          src="https://randomuser.me/api/portraits/women/90.jpg"
          alt="A user"
        />
      </mat-card-header>
      <mat-card-content>
        <p class="caregiver-card-name">Julio Cesar</p>

        <div class="caregiver-card-list">
          <div class="caregiver-card-item">
            <mat-icon>person</mat-icon>
            <span>24 years old</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>place</mat-icon>
            <span>Lima, Callao</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>schedule</mat-icon>
            <span>2 years in SafeChild</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>work</mat-icon>
            <span>42 services realized</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>mood</mat-icon>
            <span>Excellent caregiver!!!</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <div class="caregiver-biography-content">
        <h3 class="caregiver-section-title">Biography</h3>
        <p class="caregiver-section-text">
          Hi, I’m Julio Cesar, and I bring over a decade of experience in
          childcare to the table. My passion for working with children drives me
          to create safe, nurturing, and stimulating environments where kids can
          thrive. I’ve had the privilege of working with children of all ages,
          from infants to pre-teens, and I pride myself on my ability to cater
          to their individual developmental needs. In my career, I’ve managed
          diverse groups of children in both private and public settings,
          designing structured yet flexible schedules that support their growth.
          I enjoy creating engaging, age-appropriate activities that promote
          social, emotional, and cognitive development, helping each child reach
          their full potential.
        </p>
      </div>
      <div class="caregiver-service-content">
        <h3 class="caregiver-section-title">About service</h3>

        <div class="caregiver-content">
          <div>
            <table class="caregiver-table-work">
              <tr>
                <td class="caregiver-table-label">Laboral days:</td>
                <td class="caregiver-table-content">Monday to Friday</td>
              </tr>
              <tr>
                <td class="caregiver-table-label">Hours:</td>
                <td class="caregiver-table-content">8:00 am to 5:00 pm</td>
              </tr>
              <tr>
                <td class="caregiver-table-label">Fare per hour:</td>
                <td class="caregiver-table-content">S/ 5.90</td>
              </tr>
            </table>
          </div>

          <div>
            <p class="caregiver-workaround-title">Workaround</p>
            <p class="caregiver-workaround-places">
              San Miguel, Surquillo, San Isidro, San Borja, Miraflores,
              Lince,...
            </p>
          </div>
        </div>
      </div>

      <div class="caregiver-service-cta">
        <button mat-flat-button class="btn btn-primary">
          <mat-icon>book</mat-icon>
          <span>Reservate</span>
        </button>
        <button mat-stroked-button class="btn btn-secondary">
          <mat-icon>chat</mat-icon>
          <span>Contact with</span>
        </button>
      </div>
    </div>
  </div>
</section>
