<section>
  <header class="section-header">
    <h1 class="header-title">Detail of Julio Cesar’s caregiver service</h1>

    <a class="go-back-btn" routerLink="../">
      <mat-icon>arrow_back</mat-icon>
      <span>Go back</span>
    </a>
  </header>

  <div class="caregiver-section">
    <mat-card class="caregiver-preview-card">
      <mat-card-header>
        <img
          class="caregiver-img"
          [src]="caregiver?.image"
          [alt]="caregiver?.fullName"
        />
      </mat-card-header>
      <mat-card-content>
        <p class="caregiver-card-name">{{ caregiver?.fullName }}</p>

        <div class="caregiver-card-list">
          <div class="caregiver-card-item">
            <mat-icon>person</mat-icon>
            <span>24 years old</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>place</mat-icon>
            <span>{{ caregiver?.address }}</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>schedule</mat-icon>
            <span>2 years in SafeChild</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>work</mat-icon>
            <span>42 services realized</span>
          </div>

          <div class="caregiver-card-item">
            <mat-icon>mood</mat-icon>
            <span>Excellent caregiver!!!</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <div class="caregiver-biography-content">
        <h3 class="caregiver-section-title">Biography</h3>
        <p class="caregiver-section-text">
          {{ caregiver?.serviceDescription?.biography }}
        </p>
      </div>
      <div class="caregiver-service-content">
        <h3 class="caregiver-section-title">About service</h3>

        <div class="caregiver-content">
          <div>
            <table class="caregiver-table-work">
              <tr>
                <td class="caregiver-table-label">Laboral days:</td>
                <td class="caregiver-table-content">
                  {{ caregiver?.serviceDescription?.schedule?.join(", ") }}
                </td>
              </tr>
              <tr>
                <td class="caregiver-table-label">Hours:</td>
                <td class="caregiver-table-content">
                  {{ caregiver?.serviceDescription?.workHours?.startTime }} to
                  {{ caregiver?.serviceDescription?.workHours?.endTime }}
                </td>
              </tr>
              <tr>
                <td class="caregiver-table-label">Fare per hour:</td>
                <td class="caregiver-table-content">
                  S/
                  {{ caregiver?.serviceDescription?.farePerHour?.toFixed(2) }}
                </td>
              </tr>
            </table>
          </div>

          <div>
            <p class="caregiver-workaround-title">Workaround</p>
            <p class="caregiver-workaround-places">
              {{ caregiver?.serviceDescription?.workaround?.join(", ") }}
            </p>
          </div>
        </div>
      </div>

      <div class="caregiver-service-cta">
        <button mat-flat-button class="btn btn-primary">
          <mat-icon>book</mat-icon>
          <span>Reservate</span>
        </button>
        <button mat-stroked-button class="btn btn-secondary">
          <mat-icon>chat</mat-icon>
          <span>Contact with</span>
        </button>
      </div>
    </div>
  </div>
</section>
