<mat-card appearance="outlined">
  <mat-card-header>
    <img
      mat-card-image
      class="caregiver-img"
      [src]="caregiver.image"
      alt="A user"
    />
  </mat-card-header>
  <mat-card-content>
    <mat-card-title class="caregiver-name">
      {{ caregiver.fullName }}
    </mat-card-title>
    <mat-card-subtitle class="caregiver-address">
      {{ caregiver.address }}
    </mat-card-subtitle>
    <p class="caregiver-biography">
      {{ caregiver.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      class="btn-see-more"
      routerLink="./ {{ caregiver.id }}"
    >
      See more
    </button>
  </mat-card-actions>
</mat-card>
