<mat-card>
  <mat-card-header>
    <img
      class="caregiver-img"
      src="https://randomuser.me/api/portraits/women/90.jpg"
      alt="A user"
    />
  </mat-card-header>
  <mat-card-content>
    <div class="caregiver-info">
      <div>
        <p class="caregiver-name">Julia Rodriguez</p>
        <p class="caregiver-address">Lima, Callao</p>
      </div>
      <div class="caregiver-rating">
        <mat-icon>star</mat-icon>
        <p>4.4</p>
      </div>
    </div>
    <p class="caregiver-biography">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores unde
      assumenda doloribus quibusdam ratione labore doloremque aliquid sapiente
      cupiditate odio.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a class="link-see-more" routerLink="./12">
      <button mat-flat-button class="btn-see-more">See more</button>
    </a>
  </mat-card-actions>
</mat-card>
