<div class="wrapper">
  <div class="logout-wrapper">
    <a class="logout-link" routerLink="/login">Logout</a>
  </div>

  <div class="profile-preview">
    <div class="profile-img-container">
      <img
        src="https://randomuser.me/api/portraits/med/men/48.jpg"
        alt="Your profile"
      />
    </div>
    <div class="profile-info-container">
      <h3 class="profile-name">Pepito Flores</h3>
      <p class="profile-role">Tutor</p>
    </div>
    <div class="profile-setting-container">
      <button type="button" class="setting-btn">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>
